# PostgreSQL database username for Docker Compose.
POSTGRES_USER=<your-db-username>

# PostgreSQL database password for Docker Compose.
POSTGRES_PASSWORD=<your-db-password>

# PostgreSQL database name for Docker Compose.
POSTGRES_DB=<your-db-name>
